<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Movie Form</title>
</head>
<body>

<h2>Enter Movie Name</h2>

<form action="#" th:action="@{/saveMovie}" th:object="${movie}" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" th:field="*{name}" required>

  <button type="submit">Submit</button>
</form>

<br>
<a th:href="@{'/getAllMovies'}">
  <button type="button">Back to Movies</button>
</a>

</body>
</html>
